<a href="https://colab.research.google.com/github/AlisonJD/RTACourse/blob/main/New_York_City_Taxi_Trip_Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=False)

% cd "/content/gdrive/My Drive/Colab Notebooks/Tinybird"

Mounted at /content/gdrive
/content/gdrive/My Drive/Colab Notebooks/Tinybird

In [ ]:
def write_text_to_file(filename, text):
  with open(filename, 'w') as f:
      f.write(text)

In [ ]:
!pip install tinybird-cli -qq

     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 71 kB 6.9 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 46 kB 3.2 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 54 kB 2.3 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 61 kB 6.6 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 81 kB 8.1 MB/s
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 86 kB 4.4 MB/s
  Building wheel for tabulate (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.25.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

In [ ]:
!tb auth

Copy the admin token from https://ui.tinybird.co/tokens and paste it here:
** Auth successful!
** Configuration written to .tinyb file, consider adding it to .gitignore

#New_York_City_Taxi_Trip_Datasets

https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page

Here we create a datasource of yellow taxi trips in 2019 and a lookup datasource of locations.

In [ ]:
!tb datasource generate https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv

** Generated datasources/yellow_tripdata_2019_01.datasource
** => Create it on the server running: $ tb push datasources/yellow_tripdata_2019_01.datasource
** => Append data using: $ tb datasource append yellow_tripdata_2019-01 https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv`

In [ ]:
!mv datasources/yellow_tripdata_2019_01.datasource datasources/taxi.datasource

In [ ]:
filename="datasources/taxi.datasource"
text='''
DESCRIPTION amending schema that would be automatically generated
SCHEMA >
    `vendorid` Int16,
    `tpep_pickup_datetime` DateTime,
    `tpep_dropoff_datetime` DateTime,
    `passenger_count` Nullable(Int16),
    `trip_distance` Float32,
    `ratecodeid` Nullable(Int16),
    `store_and_fwd_flag` String,
    `pulocationid` Int32,
    `dolocationid` Int32,
    `payment_type` Nullable(Int16),
    `fare_amount` Float32,
    `extra` Float32,
    `mta_tax` Float32,
    `tip_amount` Float32,
    `tolls_amount` Float32,
    `improvement_surcharge` Float32,
    `total_amount` Float32,
    `congestion_surcharge` Nullable(Float32)

ENGINE "MergeTree"
ENGINE_PARTITION_KEY "toMonth(tpep_pickup_datetime)"
ENGINE_SORTING_KEY "tpep_pickup_datetime"
'''

write_text_to_file(filename, text)

In [ ]:
!tb push datasources/taxi.datasource

** Processing datasources/taxi.datasource
** Building dependencies
** Running taxi
** 'taxi' created
** Not pushing fixtures

In [ ]:
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-01.csv

** ü•ö starting import process
** üê• done
** Total rows in taxi: 7667792
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi

In [ ]:
!tb sql "SELECT count() FROM taxi"

-----------
| count() |
-----------
| 7667792 |
-----------

In [ ]:
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-02.csv

** ü•ö starting import process
** üê• done
** Total rows in taxi: 14687167
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi

In [ ]:
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-03.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-04.csv

** ü•ö starting import process
** üê• done
** Total rows in taxi: 22519712
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi
** ü•ö starting import process
** üê• done
** Total rows in taxi: 29952851
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi

In [ ]:
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-05.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-06.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-07.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-08.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-09.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-10.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-11.csv
!tb datasource append taxi https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2019-12.csv

** ü•ö starting import process
** üê• done
** Total rows in taxi: 37518112
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi
** ü•ö starting import process
** üê• done
** Total rows in taxi: 44459136
** Data appended to data source 'taxi' successfully!
** Data pushed to taxi
** ü•ö starting import process

** There was an error with file contents: 33959 rows in quarantine.
** ü•ö starting import process

** There was an error with file contents: 33321 rows in quarantine.
** ü•ö starting import process

** There was an error with file contents: 34089 rows in quarantine.
** ü•ö starting import process

** There was an error with file contents: 46723 rows in quarantine.
** ü•ö starting import process

** There was an error with file contents: 47491 rows in quarantine.
** ü•ö starting import process

** There was an error with file contents: 51018 rows in quarantine.

Note that there are null values in `vendorid` from 2019-07 onwards; these rows are put into a quarantine table.

In [ ]:
!tb sql "SELECT count() FROM taxi"

------------
|  count() |
------------
| 84152418 |
------------

In [ ]:
!tb datasource generate https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

** Generated datasources/taxi__zone_lookup.datasource
** => Create it on the server running: $ tb push datasources/taxi__zone_lookup.datasource
** => Append data using: $ tb datasource append taxi+_zone_lookup https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv`

In [ ]:
filename="datasources/taxi__zone_lookup.datasource"
text='''
DESCRIPTION join engine added to the generated datasource
SCHEMA >
    `locationid` Int32,
    `borough` String,
    `zone` String,
    `service_zone` String

ENGINE "Join"
ENGINE_JOIN_STRICTNESS "ANY"
ENGINE_JOIN_TYPE "LEFT"
ENGINE_KEY_COLUMNS "locationid"
'''

write_text_to_file(filename, text)

In [ ]:
!tb push ./datasources/taxi__zone_lookup.datasource

** Processing ./datasources/taxi__zone_lookup.datasource
** Building dependencies
** Running taxi__zone_lookup
** 'taxi__zone_lookup' created
** Not pushing fixtures

In [ ]:
!tb datasource append taxi__zone_lookup https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

** ü•ö starting import process
** üê• done
** Total rows in taxi__zone_lookup: None
** Data appended to data source 'taxi__zone_lookup' successfully!
** Data pushed to taxi__zone_lookup